name: Status check

on: [push]

jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Lint
      run: |
        yarn --frozen-lockfile
        yarn lint
  
  unit-test:
    name: Unit test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Unit test, run coverage
      run: |
        yarn --frozen-lockfile
        yarn test
        yarn coverage
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}

  integration-test:
    name: Integration test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x]
        serverless-version: [latest]
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install serverless
      run: yarn global add serverless@${{ matrix.serverless-version }}
    - name: Integration test
      run: |
        yarn --frozen-lockfile
        yarn integration
