name: Status check

on: [push, pull_request]

jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Lint
      run: |
        yarn --frozen-lockfile
        yarn lint
  
  unit-test:
    name: Unit test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Unit test
      run: |
        yarn --frozen-lockfile
        yarn test

  integration-test:
    name: Integration test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x, 18.x]
        serverless-version: [latest]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install serverless
      run: yarn global add serverless@${{ matrix.serverless-version }}
    - name: Integration test
      run: |
        yarn --frozen-lockfile
        yarn integration
